.connectButton{
    -fx-background-color: chartreuse;
}

.logoutButton{
    -fx-background-color: crimson;
}

.startServerButton{
    -fx-background-color: gold;
}

.showLobbyButton{
    -fx-background-color: burlywood;
    -fx-alignment: baseline-right;
}

.sendButton{
    -fx-background-color: darkseagreen;
}

.loginButton{
    -fx-background-color: chartreuse;
}

.startButton{
    -fx-background-color: chartreuse;
}

.stopButton{
    -fx-background-color: crimson;
}

.updateLobbyButton{
    -fx-background-color: chartreuse;
}

.button{
    -fx-font-family: sans-serif;
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.gridPane{
    -fx-background-image: url("background.jpg");
}

.vboxServer{
    -fx-background-image: url("background.jpg");
}

.hboxLobby{
    -fx-background-image: url("background.jpg");
}

.textArea{
    -fx-font-family: sans-serif;
    -fx-prompt-text-fill: darkblue;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.textField{
    -fx-font-family: sans-serif;
    -fx-prompt-text-fill: darkseagreen;
    -fx-border-color: black;
    -fx-border-style: solid;
}

